openapi: 3.1.0
info:
  title: Veriko API
  description: |-
    REST API para validar transferencias SPEI mexicanas contra Banxico CEP. Soporta validación manual por campos, validación por OCR de comprobantes, importación masiva (CSV/XLSX/imágenes), gestión de beneficiarios, métricas de uso, finanzas y notificaciones.

    Las respuestas de error incluyen `error.detail` traducible. La cabecera `Accept-Language: es` o `Accept-Language: en` permite negociar el idioma; `error.code` es el contrato estable y NO se traduce.

    Todas las fechas se emiten en UTC; cada respuesta lo confirma en `meta.datetime`.

    Las integraciones programáticas se autentican mediante una clave de API (`Authorization: Bearer veriko_…`).
  version: 1.60.0
  contact:
    name: Veriko Support
    email: soporte@veriko.mx
  license:
    name: Proprietary
  x-translations:
    en:
      title: Veriko API
      description: |-
        REST API to validate Mexican SPEI bank transfers against Banxico CEP. Supports field-based manual validation, OCR receipt validation, bulk import (CSV/XLSX/images), beneficiary management, usage metrics, finance and notifications.

        Error responses carry a translatable `error.detail`. The `Accept-Language: es` or `Accept-Language: en` header negotiates the language; `error.code` is the stable contract and is NOT translated.

        All datetimes are emitted in UTC; each response confirms it in `meta.datetime`.

        Programmatic integrations authenticate with an API key (`Authorization: Bearer veriko_…`).
servers:
  - url: https://api.veriko.mx/v1
    description: Production — programmatic access via API key
    x-translations:
      en:
        description: Production — programmatic access via API key
security:
  - ApiKeyAuth: []
tags:
  - name: Public
    description: Recursos públicos de solo lectura — catálogo de bancos SPEI y otros datos abiertos.
    x-translations:
      en:
        description: Public read-only resources — SPEI bank catalog and other open data.
  - name: Validations
    description: SPEI transfer validation against Banxico CEP — direct fields and OCR receipts.
    x-translations:
      en:
        description: SPEI transfer validation against Banxico CEP — direct fields and OCR receipts.
  - name: Beneficiaries
    description: Saved beneficiary accounts (CLABE, debit/credit card or phone) and bulk import.
    x-translations:
      en:
        description: Saved beneficiary accounts (CLABE, debit/credit card or phone) and bulk import.
  - name: Banxico Status
    description: Banxico CEP service health status and latency timeseries.
    x-translations:
      en:
        description: Banxico CEP service health status and latency timeseries.
  - name: Plans
    description: Subscription plan listing and self-service upgrade.
    x-translations:
      en:
        description: Subscription plan listing and self-service upgrade.
  - name: Billing
    description: Subscription, invoices, credits, refunds and Stripe Checkout/Portal sessions.
    x-translations:
      en:
        description: Subscription, invoices, credits, refunds and Stripe Checkout/Portal sessions.
  - name: Finance
    description: Monthly statement, SAT/fiscal reports and bulk CEP archive download.
    x-translations:
      en:
        description: Monthly statement, SAT/fiscal reports and bulk CEP archive download.
  - name: Usage
    description: API usage statistics — summary, history, breakdown, limits and heatmap.
    x-translations:
      en:
        description: API usage statistics — summary, history, breakdown, limits and heatmap.
  - name: Insights
    description: Self-scoped metrics — volume, latency, top banks, frequent beneficiaries.
    x-translations:
      en:
        description: Self-scoped metrics — volume, latency, top banks, frequent beneficiaries.
  - name: Webhooks
    description: Outgoing webhook subscriptions and delivery log.
    x-translations:
      en:
        description: Outgoing webhook subscriptions and delivery log.
  - name: Users
    description: Recursos de la cuenta del usuario actual — perfil, inicio y cierre de sesión, restablecimiento de contraseña, API key, 2FA, cambio de email y política de reintentos.
    x-translations:
      en:
        description: Current user account resources — profile, login and logout, password reset, API key, 2FA, email change and default retry policy.
  - name: Dashboard
    description: Dashboard summary aggregations.
    x-translations:
      en:
        description: Dashboard summary aggregations.
paths:
  /users/me:
    get:
      x-related:
        - GET /v1/users/me/retry-policy
        - PUT /v1/users/me/retry-policy
      tags:
        - Users
      summary: Obtener la información de una cuenta de usuario
      description: |-
        Devuelve en una sola llamada todos los datos recabados del usuario
        autenticado:

        - **Perfil**: identificador, correo electrónico, nombre, rol, estado, zona
          horaria e idioma.
        - **Datos de la clave de API**: el prefijo y los últimos 4 caracteres, nunca
          la clave.
        - **Datos de la suscripción**: el plan, el estado y el fin del periodo en
          curso.
        - **Estado de la autenticación de 2 factores (2FA)**.
        - **Permisos del rol**: como lista plana de pares `resource:action`.
        - **Resumen de notificaciones**: notificaciones sin leer, envío push y
          vínculo con Telegram.

        Los campos de perfil que solo tienen sentido en una sesión interactiva —el
        teléfono, el último acceso— se quedan fuera y los sirve
        `GET /v1/users/me/profile-detail`.

        {% callout type="info" %}
        Cuando alguna de esas piezas no se puede calcular, la respuesta llega con el
        resto y añade `_warnings` con el nombre de la pieza que falta.

        {% /callout %}
      operationId: myProfile
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X GET 'https://api.veriko.mx/v1/users/me' \
              -H 'Authorization: Bearer veriko_••••'
      responses:
        '200':
          description: Información completa del usuario autenticado.
          x-translations:
            en:
              description: Complete information for the authenticated user.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        allOf:
                          - $ref: '#/components/schemas/JsonApiResourceBase'
                          - type: object
                            properties:
                              type:
                                type: string
                                enum:
                                  - user
                              id:
                                type: string
                                format: uuid
                              attributes:
                                $ref: '#/components/schemas/UserMeBundle'
              examples:
                bundle_basic:
                  summary: Información completa sin 2FA activo
                  x-translations:
                    en:
                      summary: Complete information without 2FA enabled
                  value:
                    data:
                      type: user
                      id: b1e4a2c3-1234-4abc-8def-000000000001
                      attributes:
                        id: b1e4a2c3-1234-4abc-8def-000000000001
                        email: carlos@example.com
                        name: Carlos Lopez
                        role: user
                        status: active
                        timezone: America/Mexico_City
                        language: es
                        email_verified_at: '2026-04-30T10:15:00Z'
                        created_at: '2026-01-15T08:00:00Z'
                        api_key:
                          prefix: veriko_a1b2
                          last_4: f9c2
                        subscription:
                          plan_slug: pro
                          status: active
                          current_period_end: '2026-06-15T00:00:00Z'
                          cancel_at: null
                          billing_interval: month
                        two_factor:
                          enabled: false
                          method: sms
                          last_used_at: null
                        permissions:
                          - validations:read
                          - validations:create
                          - beneficiaries:read
                          - users:read_self
                        notifications:
                          unread_count: 2
                          push_enabled: false
                          telegram_linked: false
                    meta:
                      version: 1.48.0
                      request_id: a2b3c4d5e6f7a8b9c0d1e2f3
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-translations:
        en:
          summary: Get the current user's complete information
          description: |-
            Returns in a single call everything the application needs to know about
            the authenticated user:

            - Their profile: identifier, email, name, role, status, timezone and
              language.
            - Their API key data: the prefix and the last 4 characters, never the
              key.
            - Their subscription, with the plan, the status and the end of the
              current period.
            - Two-factor authentication (2FA) state.
            - The role permissions, as a flat list of `resource:action` pairs.
            - The notifications summary: unread, push delivery and Telegram link.

            The profile fields that only make sense in an interactive session — the
            phone, the last sign-in — are left out and served by
            `GET /v1/users/me/profile-detail`.

            {% callout type="info" %}
            When one of those pieces cannot be computed, the response still arrives
            with the rest and adds `_warnings` naming the missing one. That is what
            allows rendering an incomplete panel instead of a blank one.

            {% /callout %}
      security:
        - ApiKeyAuth: []
  /validate:
    post:
      x-collapsed-200-links: false
      tags:
        - Validations
      summary: Validar manualmente una transferencia SPEI
      description: |-
        Valida manualmente una transferencia SPEI para obtener el comprobante (CEP) de **Banxico**.

        Se requieren los siguientes datos:

        - Fecha.
        - Monto.
        - Clave de rastreo / Referencia numérica.
        - Banco emisor.
        - Banco receptor.
        - Cuenta beneficiaria.

        El veredicto final (estado terminal) de una validación puede ser alguno de estos:

        - `valid`: El CEP de la transacción fue encontrado y validado.
        - `not_found`: El CEP de la transacción NO fue encontrado.
        - `cep_unavailable`: Banxico reconoció la transacción pero el CEP no está disponible por el momento.
        - `returned`: la transacción se liquidó y la institución beneficiaria la devolvió después. El CEP, si existe, se sigue entregando.
        - `error`: Error interno del servicio.

        Un veredicto `not_found`, `cep_unavailable` o `error` no es necesariamente definitivo: el CEP puede tardar en ser publicado. En ese caso se puede hacer uso de los **reintentos automáticos**, enviando `retry_policy` en el cuerpo de la petición según {% concept slug="retry-policy" %}la política de reintentos{% /concept %}.

        {% callout type="info" %}
        **Modo asíncrono:**\
        Enviando `?async=1` en la URL, la operación se procesa en segundo plano y la respuesta es un estado HTTP `202` inmediato con el ID de la validación en el cuerpo.\
        \
        El veredicto se recoge sondeando `GET /v1/validations/{id}` hasta un estado terminal. El uso de `ETag` para no descargar dos veces lo mismo está descrito en {% concept slug="async-validations" %}las operaciones asíncronas{% /concept %}.

        {% /callout %}

        {% callout type="info" %}
        **Idempotencia:**\
        La cabecera `Idempotency-Key` es opcional y evita duplicar una validación cuando se repite una petición. Las respuestas `5xx` no se guardan, de modo que un fallo del servidor no deja la clave de idempotencia inutilizable.\
        Reutilizar la cabecera con un cuerpo distinto provoca un estado HTTP `422` (con `idempotency_key_reused` en el cuerpo).\
        Reutilizar la cabecera mientras la operación anterior sigue en curso provoca un estado HTTP `409` (con `idempotency_key_in_progress` en el cuerpo).

        {% /callout %}

        {% callout type="warning" %}
        **Políticas de cobro (cuota):**\
        **Cada llamada consume cuota del plan** y se descuenta al aceptar la petición. Si se agota la cuota, el endpoint responde con un estado HTTP `429` sin intentar la validación.

        {% /callout %}
      operationId: validateDirect
      externalDocs:
        url: https://docs.veriko.mx/how-to/validate-spei
        description: 'How-to: validación manual de una transferencia SPEI'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/AsyncQueryParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationRequest'
            examples:
              tracking_only:
                summary: Validación solo con clave de rastreo
                value:
                  fecha: '2025-03-15'
                  monto: 15000.5
                  clave_rastreo: MXBA20250315001234
                  emisor: BANCO NACIONAL DE MEXICO
                  receptor: BBVA MEXICO
                  cuenta_beneficiaria: '012180004412345678'
              reference_only:
                summary: Validación solo con referencia numérica
                value:
                  fecha: '2025-03-15'
                  monto: 15000.5
                  referencia_numerica: '1234567'
                  emisor: BANCO NACIONAL DE MEXICO
                  receptor: BBVA MEXICO
                  cuenta_beneficiaria: '012180004412345678'
              both_identifiers:
                summary: Clave de rastreo + referencia (mayor precisión)
                value:
                  fecha: '2025-03-15'
                  monto: 15000.5
                  clave_rastreo: MXBA20250315001234
                  referencia_numerica: '1234567'
                  emisor: BANCO NACIONAL DE MEXICO
                  receptor: BBVA MEXICO
                  cuenta_beneficiaria: '012180004412345678'
              phone_dimo:
                summary: Cuenta beneficiaria celular DiMo (10 dígitos)
                value:
                  fecha: '2025-03-15'
                  monto: 5000
                  clave_rastreo: MXBA20250315009876
                  emisor: BANCO NACIONAL DE MEXICO
                  receptor: BANAMEX
                  cuenta_beneficiaria: '5512345678'
              with_retry_policy:
                summary: Con política de reintentos automáticos en el cuerpo
                value:
                  fecha: '2025-03-15'
                  monto: 15000.5
                  clave_rastreo: MXBA20250315001234
                  cuenta_beneficiaria: '012180004412345678'
                  retry_policy:
                    enabled: true
                    max_retries: 3
                    interval_seconds: 600
                    outcomes:
                      - not_found
                      - cep_unavailable
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X POST 'https://api.veriko.mx/v1/validate' \
              -H 'Authorization: Bearer veriko_••••' \
              -H 'Content-Type: application/json' \
              -d '{
                "fecha": "2025-03-15",
                "monto": 15000.5,
                "clave_rastreo": "MXBA20250315001234",
                "referencia_numerica": "1234567",
                "emisor": "BANCO NACIONAL DE MEXICO",
                "receptor": "BBVA MEXICO",
                "cuenta_beneficiaria": "012180004412345678"
              }'
      responses:
        '200':
          description: 'Veredicto final de la validación. El campo `status` puede ser: `valid`, `not_found`, `cep_unavailable`, `returned` o `error`. Cuando `has_cep: true` el certificado CEP está disponible vía `GET /v1/validations/{id}/cep`.'
          x-translations:
            en:
              description: 'Final validation verdict. The `status` field can be `valid`, `not_found`, `cep_unavailable`, `returned`, or `error`. When `has_cep: true`, the CEP certificate is available through `GET /v1/validations/{id}/cep`.'
          headers:
            Idempotent-Replayed:
              schema:
                type: string
                enum:
                  - 'true'
                  - 'false'
              description: Presente solo cuando la petición incluyó la cabecera `Idempotency-Key`. `false` para respuestas frescas; `true` cuando la respuesta es reutilizada desde el caché de idempotencia, con una vigencia de 24 horas por combinación de cuenta, endpoint y clave.
              x-translations:
                en:
                  description: Only present when the request included the `Idempotency-Key` header. `false` marks a fresh response; `true` marks a response reused from the idempotency cache, which remains valid for 24 hours per account, endpoint, and key.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Validation'
              examples:
                valid_found:
                  summary: Transferencia confirmada en el CEP
                  value:
                    data:
                      id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                      type: validation
                      attributes:
                        validation_type: direct
                        is_playground: false
                        status: valid
                        banxico_status: valid
                        processing_time_ms: 1320
                        request_data:
                          fecha: '2025-03-15'
                          monto: 15000.5
                          clave_rastreo: MXBA20250315001234
                          referencia_numerica: '1234567'
                          emisor: BANCO NACIONAL DE MEXICO
                          receptor: BBVA MEXICO
                          cuenta_beneficiaria: '012180004412345678'
                        created_at: '2025-03-15T14:22:10Z'
                        completed_at: '2025-03-15T14:22:11Z'
                        retry_state:
                          enabled: false
                          max_retries: null
                          interval_seconds: null
                          outcomes: null
                          attempts_completed: 0
                          next_attempt_at: null
                          resolved_at: null
                          exhausted_at: null
                          cancelled_at: null
                          terminal_state: null
                      links:
                        self: /v1/validations/f47ac10b-58cc-4372-a567-0e02b2c3d479
                        cep_xml: /v1/validations/f47ac10b-58cc-4372-a567-0e02b2c3d479/cep?format=xml
                        cep_pdf: /v1/validations/f47ac10b-58cc-4372-a567-0e02b2c3d479/cep?format=pdf
                    meta:
                      version: 1.51.0
                      request_id: b3c4d5e6f7a8
                not_found:
                  summary: Transferencia no encontrada en el CEP
                  value:
                    data:
                      id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      type: validation
                      attributes:
                        validation_type: direct
                        is_playground: false
                        status: not_found
                        banxico_status: not_found
                        processing_time_ms: 980
                        created_at: '2025-03-16T09:10:00Z'
                        completed_at: '2025-03-16T09:10:01Z'
                    meta:
                      version: 1.51.0
                      request_id: c4d5e6f7a8b9
                cep_unavailable:
                  summary: Banxico no respondió a tiempo
                  value:
                    data:
                      id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                      type: validation
                      attributes:
                        validation_type: direct
                        is_playground: false
                        status: cep_unavailable
                        banxico_status: cep_unavailable
                        created_at: '2025-03-15T18:05:30Z'
                        completed_at: '2025-03-15T18:05:31Z'
                    meta:
                      version: 1.51.0
                      request_id: d5e6f7a8b9c0
        '202':
          $ref: '#/components/responses/ValidationQueuedAccepted'
        '400':
          $ref: '#/components/responses/InvalidIdempotencyKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/IdempotencyKeyInProgress'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '422':
          description: 'Falló la validación de la petición. Códigos típicos: `clave_or_ref_required`, `required` (fecha/monto), `invalid_date`, `invalid_amount`, `invalid_account_format`, `invalid_account_length`, `invalid_clabe_checksum`, `invalid_card_luhn`, `invalid_bank_code` (`emisor`/`receptor` no reconocidos), `intra_bank_no_cep` (emisor y receptor son el mismo banco), `invalid_field_type` (un campo que debe ser texto llegó como arreglo u objeto — p. ej. `emisor`, `receptor` o `referencia_numerica`), `invalid_receptor_participante`, `retry_policy_invalid`, `retry_pending_cap_exceeded`. También se emite cuando se reutiliza `Idempotency-Key` con un cuerpo distinto (`idempotency_key_reused`).'
          x-translations:
            en:
              description: 'Request validation failed. Typical codes: `clave_or_ref_required`, `required` (fecha/monto), `invalid_date`, `invalid_amount`, `invalid_account_format`, `invalid_account_length`, `invalid_clabe_checksum`, `invalid_card_luhn`, `invalid_bank_code` (`emisor`/`receptor` not recognized), `intra_bank_no_cep` (sender and receiver are the same bank), `invalid_field_type` (a field that must be text arrived as an array or object — e.g. `emisor`, `receptor`, or `referencia_numerica`), `invalid_receptor_participante`, `retry_policy_invalid`, `retry_pending_cap_exceeded`. Also emitted when an `Idempotency-Key` is reused with a different body (`idempotency_key_reused`).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: Banxico no estuvo disponible (`banxico_rate_limit_exhausted`) o no fue posible iniciar la validación asíncrona (`dispatch_failed`). La petición puede repetirse después de unos minutos.
          x-translations:
            en:
              description: Banxico was unavailable (`banxico_rate_limit_exhausted`) or the asynchronous validation could not be started (`dispatch_failed`). The request can be repeated after a few minutes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-related:
        - POST /v1/validate-ocr
        - GET /v1/validations/{id}
        - PUT /v1/validations/{id}/retry-policy
        - GET /v1/validations
      x-translations:
        en:
          summary: Manually validate a SPEI transfer
          description: |-
            Validates a SPEI transfer against the **Banxico** CEP from the fields
            you send.

            The following data is required:

            - Date.
            - Amount.
            - Tracking key / Numeric reference.
            - Sending bank.
            - Receiving bank.
            - Beneficiary account.

            The final verdict (terminal state) can be one of the following:

            - `valid`: The transfer CEP was found and validated.
            - `not_found`: The transfer CEP was NOT found.
            - `cep_unavailable`: Banxico recognized the transfer, but the CEP is not
              currently available.
            - `returned`: the transfer was settled and the beneficiary institution
              later sent it back. The CEP, when there is one, is still delivered.
            - `error`: Internal service error.

            A `not_found`, `cep_unavailable`, or `error` verdict is not necessarily
            final: the CEP may take time to be published. In that case, **automatic
            retries** can be used by sending `retry_policy` in the request body,
            according to {% concept slug="retry-policy" %}the retry policy{% /concept
            %}.

            {% callout type="info" %}
            **Asynchronous mode:**\
            With `?async=1` in the URL, the operation runs in the background and
            returns an immediate HTTP status `202` with the validation ID in the
            body.\
            \
            The verdict is collected by polling `GET /v1/validations/{id}` until a
            terminal state. The use of `ETag` to avoid downloading the same content
            twice is covered in {% concept slug="async-validations" %}asynchronous
            operations{% /concept %}.

            {% /callout %}

            {% callout type="info" %}
            **Idempotency:**\
            The `Idempotency-Key` header is optional and prevents duplicate
            validations when a request is repeated. `5xx` responses are not stored,
            so a server failure does not make the idempotency key unusable.\
            Reusing the header with a different body produces HTTP status `422`
            (with `idempotency_key_reused` in the body).\
            Reusing it while the previous operation is still in progress produces
            HTTP status `409` (with `idempotency_key_in_progress` in the body).

            {% /callout %}

            **Each call consumes plan quota**, deducted when the request is
            accepted. If the quota is exhausted, the endpoint returns HTTP status
            `429` without attempting the validation.
      security:
        - ApiKeyAuth: []
  /validate-ocr:
    post:
      tags:
        - Validations
      summary: Validar una transferencia SPEI (OCR)
      description: |-
        Valida una transferencia SPEI a partir de la imagen de su comprobante. Extrae mediante reconocimiento óptico (OCR) los datos de la imagen y los valida en **Banxico** para obtener el CEP de la transacción.

        La imagen se envía como `image` o `image_url`. Si es enviada mediante una URL, el host destino deberá contar con protocolo seguro (SSL/HTTPS).

        {% callout type="info" %}
        El campo `cuenta_beneficiaria` permite enviar explícitamente la cuenta receptora de la transferencia, enviarlo es especialmente útil cuando la imagen no lleva este dato o lo lleva incompleto.\
        Puedes guardar esa cuenta como beneficiario (en `POST /v1/beneficiaries`) para no enviarla en cada validación, el sistema detectará en automático los dígitos visibles en cada imagen.

        {% /callout %}

        El veredicto final es el mismo que en la validación manual:

        - `valid`: El CEP de la transacción fue encontrado y validado.
        - `not_found`: El CEP de la transacción NO fue encontrado.
        - `cep_unavailable`: Banxico reconoció la transacción pero el CEP no está disponible por el momento.
        - `returned`: la transacción se liquidó y la institución beneficiaria la devolvió después. El CEP, si existe, se sigue entregando.
        - `error`: Error interno del servicio.

        {% callout type="info" %}
        **Modo asíncrono:**\
        Enviando `?async=1` en la URL, la imagen se comprueba antes de aceptar el trabajo y la respuesta es un estado HTTP `202` inmediato con el ID de la validación en el cuerpo.\
        \
        El veredicto se recoge sondeando `GET /v1/validations/{id}` hasta un estado terminal, como describe {% concept slug="async-validations" %}las operaciones asíncronas{% /concept %}.

        {% /callout %}

        {% callout type="info" %}
        **Idempotencia:**\
        La cabecera `Idempotency-Key` es opcional y evita duplicar una validación cuando se repite una petición. Las respuestas `5xx` no se guardan, de modo que un fallo del servidor no deja la clave de idempotencia inutilizable.\
        Reutilizar la cabecera con un cuerpo distinto provoca un estado HTTP `422` (con `idempotency_key_reused` en el cuerpo).\
        Reutilizar la cabecera mientras la operación anterior sigue en curso provoca un estado HTTP `409` (con `idempotency_key_in_progress` en el cuerpo).

        {% /callout %}

        {% callout type="warning" %}
        **Políticas de cobro (cuota):**\
        — Modo síncrono: Se descuenta la validación de la cuota al aceptar la petición, antes de comprobar la imagen. Es decir, una imagen inválida consume una validación.\
        — Modo asíncrono: La imagen se comprueba primero, así que una imagen inválida no consume nada.\
        \
        La cuota no se devuelve en ningún caso. Los reintentos automáticos posteriores no consumen una validación adicional, y el cómputo está en {% concept slug="quotas-and-plans" %}cuotas y planes{% /concept %}.

        {% /callout %}
      operationId: validateOcr
      externalDocs:
        url: https://docs.veriko.mx/how-to/validate-ocr
        description: Validate a SPEI transfer from a receipt image
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/AsyncQueryParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrValidationRequest'
            examples:
              image_url_only:
                summary: Imagen remota vía URL
                value:
                  image_url: https://storage.example.com/receipts/spei-receipt-001.png
              image_url_with_hint:
                summary: URL con pista de cuenta beneficiaria
                value:
                  image_url: https://storage.example.com/receipts/spei-receipt-002.png
                  cuenta_beneficiaria: '012180004412345678'
              image_base64:
                summary: Imagen codificada en base64
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X POST 'https://api.veriko.mx/v1/validate-ocr' \
              -H 'Authorization: Bearer veriko_••••' \
              -H 'Content-Type: application/json' \
              -d '{
                "image": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
              }'
      responses:
        '200':
          description: Validación resuelta con los datos extraídos del comprobante y su veredicto.
          x-translations:
            en:
              description: Resolved validation with the data extracted from the receipt and its verdict.
          headers:
            Idempotent-Replayed:
              schema:
                type: string
                enum:
                  - 'true'
                  - 'false'
              description: Presente solo cuando la petición incluyó `Idempotency-Key`. `false` identifica una respuesta nueva; `true`, una respuesta reutilizada desde el caché.
              x-translations:
                en:
                  description: Present only when the client sent `Idempotency-Key`. `false` for fresh responses; `true` when replayed from cache.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Validation'
              examples:
                ocr_valid:
                  summary: OCR exitoso — transferencia confirmada
                  value:
                    data:
                      id: c3d4e5f6-a7b8-9012-cdef-123456789012
                      type: validation
                      attributes:
                        validation_type: ocr
                        is_playground: false
                        status: valid
                        banxico_status: valid
                        processing_time_ms: 2840
                        image_path: comprobantes/c3d4e5f6-a7b8-9012-cdef-123456789012.png
                        ocr_result:
                          fecha: '2025-04-10'
                          monto: 12500
                          clave_rastreo: MXBA20250410003456
                        ocr_confidence: 0.96
                        created_at: '2025-04-10T11:30:00Z'
                        completed_at: '2025-04-10T11:30:02Z'
                    meta:
                      version: 1.51.0
                      request_id: e6f7a8b9c0d1
                ocr_not_found:
                  summary: OCR extraído pero transferencia no encontrada
                  value:
                    data:
                      id: d4e5f6a7-b8c9-0123-defa-234567890123
                      type: validation
                      attributes:
                        validation_type: ocr
                        is_playground: false
                        status: not_found
                        banxico_status: not_found
                        ocr_confidence: 0.91
                        created_at: '2025-04-10T14:00:00Z'
                        completed_at: '2025-04-10T14:00:01Z'
                    meta:
                      version: 1.51.0
                      request_id: f7a8b9c0d1e2
        '202':
          $ref: '#/components/responses/ValidationQueuedAccepted'
        '400':
          $ref: '#/components/responses/InvalidIdempotencyKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/IdempotencyKeyInProgress'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '422':
          description: 'La imagen o los datos de la petición no son válidos. Códigos posibles: `image_or_image_url_required`, `invalid_image`, `invalid_image_format`, `image_too_large`, `invalid_url`, `invalid_url_scheme`, `url_ssrf_blocked`, `invalid_clabe_checksum`. También puede devolver: `image_too_small`, `image_mime_mismatch`, `image_dimensions_too_large`, `image_decompression_bomb`, `image_polyglot_detected`, `image_url_unreachable`, `image_url_too_large`, `image_url_too_many_redirects`. En modo asíncrono, un fallo genérico de la imagen se reporta como `image_invalid`. Reutilizar `Idempotency-Key` con un cuerpo distinto produce `idempotency_key_reused`.'
          x-translations:
            en:
              description: 'The image or request data is invalid. Possible codes: `image_or_image_url_required`, `invalid_image`, `invalid_image_format`, `image_too_large`, `invalid_url`, `invalid_url_scheme`, `url_ssrf_blocked`, `invalid_clabe_checksum`, `image_too_small`, `image_mime_mismatch`, `image_dimensions_too_large`, `image_decompression_bomb`, `image_polyglot_detected`, `image_url_unreachable`, `image_url_too_large`, `image_url_too_many_redirects`. In asynchronous mode, a generic image failure is reported as `image_invalid`. Reusing `Idempotency-Key` with a different body produces `idempotency_key_reused`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: El OCR no está disponible, no pudo completarse la solicitud a Banxico (`banxico_rate_limit_exhausted`) o no fue posible iniciar la validación asíncrona (`dispatch_failed`).
          x-translations:
            en:
              description: OCR is unavailable, the Banxico request could not be completed (`banxico_rate_limit_exhausted`), or the asynchronous validation could not be started (`dispatch_failed`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-related:
        - POST /v1/validate
        - POST /v1/beneficiaries
        - GET /v1/validations/{id}
        - GET /v1/validations/{id}/image
      x-translations:
        en:
          summary: Validate a SPEI transfer (OCR)
          description: |-
            Validates a SPEI transfer from the image of its receipt. It extracts the data from the image through optical character recognition (OCR) and validates it against **Banxico** to obtain the transaction's CEP.

            The image is sent as `image` or as `image_url`. When sent as a URL, the target host must serve it over a secure protocol (SSL/HTTPS).

            {% callout type="info" %}
            The `cuenta_beneficiaria` field sends the receiving account of the transfer explicitly, which is especially useful when the image does not carry that data or carries it incomplete.\
            That account can be saved as a beneficiary (with `POST /v1/beneficiaries`) so it does not have to be sent on every validation: the system then detects the visible digits in each image automatically.

            {% /callout %}

            The final verdict is the same as in manual validation:

            - `valid`: The transaction's CEP was found and validated.
            - `not_found`: The transaction's CEP was NOT found.
            - `cep_unavailable`: Banxico recognized the transaction but the CEP is not available for now.
            - `returned`: the transaction was settled and the beneficiary institution later sent it back. The CEP, when there is one, is still delivered.
            - `error`: Internal service error.

            {% callout type="info" %}
            **Asynchronous mode:**\
            With `?async=1` in the URL, the image is checked before the job is accepted and the response is an immediate HTTP status `202` with the validation ID in the body.\
            \
            The verdict is collected by polling `GET /v1/validations/{id}` until a terminal status, as {% concept slug="async-validations" %}asynchronous operations{% /concept %} describes.

            {% /callout %}

            {% callout type="info" %}
            **Idempotency:**\
            The `Idempotency-Key` header is optional and prevents duplicating a validation when a request is repeated. `5xx` responses are not stored, so a server failure does not leave the idempotency key unusable.\
            Reusing the header with a different body causes an HTTP status `422` (with `idempotency_key_reused` in the body).\
            Reusing the header while the previous operation is still in flight causes an HTTP status `409` (with `idempotency_key_in_progress` in the body).

            {% /callout %}

            {% callout type="warning" %}
            **Charging policy (quota):**\
            — Synchronous mode: the validation is charged against the quota when the request is accepted, before the image is checked. That is, an invalid image consumes a validation.\
            — Asynchronous mode: the image is checked first, so an invalid image consumes nothing.\
            \
            Quota is never refunded. Later automatic retries do not consume an additional validation, and the accounting is in {% concept slug="quotas-and-plans" %}quotas and plans{% /concept %}.

            {% /callout %}
      security:
        - ApiKeyAuth: []
  /validations:
    get:
      tags:
        - Validations
      summary: Listar validaciones
      description: |-
        Devuelve el historial paginado de validaciones del usuario autenticado.

        Los filtros se combinan entre sí. Por ejemplo:

        - `status`: Acepta un estado, o varios separados por comas.
        - `with_deleted`: Distingue entre los registros activos y los retirados.
        - **Los demás** acotan por: modalidad, fecha, contenido, banco, importe, origen y ciclo de reintentos.

        La forma de la respuesta está descrita en {% concept slug="pagination" %}la paginación{% /concept %}.

        Para el registro completo de una validación, con el estado detallado de sus reintentos, está `GET /v1/validations/{id}`.
      operationId: listValidations
      externalDocs:
        url: https://docs.veriko.mx/how-to/inspect-validations
        description: Browse and manage validation records
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          example: 1
          description: Filtro — Página solicitada; los valores menores que `1` se ajustan a `1`.
          x-translations:
            en:
              description: Requested page; values below `1` are adjusted to `1`.
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
          example: 10
          description: Filtro — Elementos por página; se ajusta al intervalo de `1` a `50`.
          x-translations:
            en:
              description: Items per page; adjusted to the `1` to `50` range.
        - name: status
          in: query
          schema:
            type: string
          example: valid
          description: 'Filtro — Estado del ciclo de vida. Acepta un valor o una lista separada por comas: `queued`, `processing`, `valid`, `not_found`, `cep_unavailable`, `invalid`, `returned`, `failed` o `error`. Los valores no admitidos se ignoran.'
          x-translations:
            en:
              description: 'Lifecycle state. Accepts one value or a comma-separated list: `queued`, `processing`, `valid`, `not_found`, `cep_unavailable`, `invalid`, `returned`, `failed`, or `error`. Unsupported values are ignored.'
        - name: type
          in: query
          schema:
            type: string
            enum:
              - direct
              - ocr
          example: direct
          description: 'Filtro — Modalidad: `direct` para validación manual u `ocr` para validación a partir de una imagen.'
          x-translations:
            en:
              description: 'Mode: `direct` for manual validation or `ocr` for image-based validation.'
        - name: from
          in: query
          schema:
            type: string
            format: date
          example: '2025-01-01'
          description: Filtro — Fecha inicial inclusiva, aplicada sobre la creación de la validación. Enviarlo como lista (`from[]=`) devuelve un estado HTTP `422` con `invalid_filter`.
          x-translations:
            en:
              description: Inclusive start date, applied to the validation creation date. Sending it as a list (`from[]=`) returns HTTP status `422` with `invalid_filter`.
        - name: to
          in: query
          schema:
            type: string
            format: date
          example: '2025-03-31'
          description: Filtro — Fecha final inclusiva, aplicada sobre la creación de la validación. Enviarlo como lista (`to[]=`) devuelve un estado HTTP `422` con `invalid_filter`.
          x-translations:
            en:
              description: Inclusive end date, applied to the validation creation date. Sending it as a list (`to[]=`) returns HTTP status `422` with `invalid_filter`.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          example: scotiabank
          description: Filtro — Texto buscado, sin distinguir mayúsculas y minúsculas, en los datos enviados, normalizados y devueltos por Banxico. `%` y `_` se tratan como caracteres literales, y los 100 caracteres se cuentan por carácter (no por byte), así que un acento no se parte a la mitad. Si el texto, sin espacios ni guiones, queda compuesto sólo por dígitos, también se busca esa forma sin separadores contra la cuenta beneficiaria.
          x-translations:
            en:
              description: Case-insensitive text search over the submitted, normalized, and Banxico response data. `%` and `_` are treated as literal characters, and the 100-character limit is counted per character (not per byte), so an accented letter is never split in half. If the text, once spaces and hyphens are removed, is made up only of digits, that separator-free form is also matched against the beneficiary account.
        - name: playground
          in: query
          schema:
            type: string
            enum:
              - '1'
          example: '1'
          description: Filtro — Muestra solo las validaciones del banco de pruebas (Playground). Si se envía, el único valor admitido es `1`; cualquier otro devuelve un estado HTTP `422`.
          x-translations:
            en:
              description: Keeps only playground validations. The only accepted value is `1`; any other value returns HTTP status `422`.
        - name: with_deleted
          in: query
          schema:
            type: string
            enum:
              - '0'
              - '1'
          example: '0'
          description: 'Filtro — Alcance de los registros retirados: omitido incluye activos y retirados; `0` muestra solo activos y `1` solo retirados.'
          x-translations:
            en:
              description: 'Scope for withdrawn records: omitted includes active and withdrawn records; `0` keeps active records only and `1`, withdrawn records only.'
        - name: batch_id
          in: query
          schema:
            type: integer
            minimum: 1
          example: 42
          description: Filtro — Identificador del trabajo de importación que generó las validaciones. Enviarlo como lista (`batch_id[]=`) devuelve un estado HTTP `422` con `invalid_filter` en vez de ignorarse.
          x-translations:
            en:
              description: Identifier of the import job that generated the validations. Sending it as a list (`batch_id[]=`) returns HTTP status `422` with `invalid_filter` instead of being ignored.
        - name: bank
          in: query
          schema:
            type: string
            pattern: ^\d{1,5}$
          example: '012'
          description: Filtro — Clave SPEI del banco emisor o receptor en la petición original. Los valores que no tengan de 1 a 5 dígitos se ignoran; enviarlo como lista (`bank[]=`) devuelve un estado HTTP `422` con `invalid_filter`.
          x-translations:
            en:
              description: SPEI code of the sending or receiving bank in the original request. Values outside 1 to 5 digits are ignored; sending it as a list (`bank[]=`) returns HTTP status `422` with `invalid_filter`.
        - name: amount_min
          in: query
          schema:
            type: number
            format: float
          example: 1000.5
          description: 'Filtro — Importe mínimo inclusivo, como número. El servidor también tolera enviarlo como texto con separador de miles o símbolo de moneda ("1,000.50", "$500") y lo normaliza con el mismo algoritmo que el resto de la plataforma, pero el contrato es un número: un cliente tipado debe mandarlo así. Un valor no vacío que no se reconozca como número devuelve un estado HTTP `422` con `invalid_filter`, en vez de ignorarse en silencio. Se aplica de forma independiente de `amount_max`.'
          x-translations:
            en:
              description: 'Inclusive minimum amount, as a number. The server also tolerates sending it as text with a thousands separator or a currency symbol ("1,000.50", "$500") and normalizes it with the same algorithm used across the platform, but the contract is a number: a typed client should send it that way. A non-empty value that isn''t recognized as a number returns HTTP status `422` with `invalid_filter`, instead of being silently ignored. Applied independently of `amount_max`.'
        - name: amount_max
          in: query
          schema:
            type: number
            format: float
          example: 50000
          description: Filtro — Importe máximo inclusivo, como número. Mismas reglas de tolerancia de formato y de error que `amount_min`. Se aplica de forma independiente de `amount_min`.
          x-translations:
            en:
              description: Inclusive maximum amount, as a number. Same formatting-tolerance and error rules as `amount_min`. Applied independently of `amount_min`.
        - name: retry_state
          in: query
          schema:
            type: string
            enum:
              - pending
              - resolved
              - exhausted
              - cancelled
          example: pending
          description: 'Filtro — Estado del ciclo de reintentos: `pending`, `resolved`, `exhausted` o `cancelled`. Otro valor devuelve un estado HTTP `422` con `invalid_filter`.'
          x-translations:
            en:
              description: 'Retry cycle state: `pending`, `resolved`, `exhausted`, or `cancelled`. Any other value returns HTTP status `422` with `invalid_filter`.'
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X GET 'https://api.veriko.mx/v1/validations' \
              -H 'Authorization: Bearer veriko_••••'
      responses:
        '200':
          description: Lista paginada de validaciones con metadatos de paginación.
          x-translations:
            en:
              description: Paginated list of validations with pagination metadata.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PublicValidationListItem'
                      meta:
                        type: object
                        properties:
                          pagination:
                            type: object
                            properties:
                              page:
                                type: integer
                                example: 1
                              per_page:
                                type: integer
                                example: 10
                              total:
                                type: integer
                                example: 47
                              total_pages:
                                type: integer
                                example: 5
              examples:
                with_results:
                  summary: Lista con validaciones de distintos estados
                  value:
                    data:
                      - id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                        type: validation
                        attributes:
                          bank_name: BBVA MEXICO
                          beneficiary_label: Proveedor X
                          amount: 15000.5
                          tracking_key: MXBA20250315001234
                          referencia_numerica: '1234567'
                          beneficiary_account: '012180004412345678'
                          status: valid
                          banxico_status: valid
                          validation_type: direct
                          is_playground: false
                          created_at: '2025-03-15T14:22:10Z'
                          deleted_at: null
                          retry_state:
                            enabled: false
                            attempts_completed: 0
                            next_attempt_at: null
                            terminal_state: null
                      - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        type: validation
                        attributes:
                          bank_name: SCOTIABANK
                          beneficiary_label: null
                          amount: 8500
                          tracking_key: MXBA20250316005555
                          referencia_numerica: ''
                          beneficiary_account: '021180040900123456'
                          status: not_found
                          banxico_status: not_found
                          validation_type: ocr
                          is_playground: false
                          created_at: '2025-03-16T09:10:00Z'
                          deleted_at: null
                          retry_state:
                            enabled: false
                            attempts_completed: 0
                            next_attempt_at: null
                            terminal_state: null
                    meta:
                      version: 1.51.0
                      request_id: e1f2a3b4c5d6
                      pagination:
                        page: 1
                        per_page: 10
                        total: 47
                        total_pages: 5
                empty:
                  summary: Lista vacía (sin validaciones)
                  value:
                    data: []
                    meta:
                      version: 1.51.0
                      request_id: f2a3b4c5d6e7
                      pagination:
                        page: 1
                        per_page: 10
                        total: 0
                        total_pages: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: 'Un filtro no se pudo aplicar (código `invalid_filter`): valor no admitido en `retry_state`, `playground` o `amount_min`/`amount_max` con formato irreconocible; o tipo incorrecto en `from`, `to`, `search`, `bank` o `batch_id` (por ejemplo, enviados como lista `from[]=`).'
          x-translations:
            en:
              description: 'A filter could not be applied (code `invalid_filter`): unsupported value in `retry_state`, `playground`, or `amount_min`/`amount_max` with an unrecognized format; or the wrong type in `from`, `to`, `search`, `bank`, or `batch_id` (for example, sent as a list `from[]=`).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-related:
        - GET /v1/validations/{id}
        - POST /v1/validate
        - POST /v1/validate-ocr
        - GET /v1/validations/export
        - GET /v1/validations/stats
      x-translations:
        en:
          summary: List validations
          description: |-
            Returns the paginated validation history of the authenticated account.

            The filters combine with each other:

            - `status` accepts one status, or several separated by commas.
            - `with_deleted` distinguishes active records from withdrawn ones.
            - The rest narrow by mode, date, content, bank, amount, origin and retry cycle.

            The shape of the response is described in {% concept slug="pagination" %}pagination{% /concept %}.

            For the complete record of a validation, with the detailed state of its retries, there is `GET /v1/validations/{id}`.
      security:
        - ApiKeyAuth: []
  /validations/stats:
    get:
      x-related:
        - DELETE /v1/validations/{id}
        - GET /v1/validations
        - GET /v1/validations/{id}
        - GET /v1/validations/{id}/cep
      tags:
        - Validations
      summary: Obtener las estadísticas de validaciones de la cuenta de usuario
      description: |-
        Devuelve contadores agregados de las validaciones de la cuenta:

        - Los contadores de primer nivel —`valid`, `not_found`, `cep_unavailable`, `returned`, `error` y `pending`— agrupan por `banxico_status`.
        - `by_status` agrupa por estado del ciclo de vida.
        - `by_type` separa las modalidades `direct` y `ocr`.

        Acepta los mismos filtros que `GET /v1/validations`, con una excepción: `status` se admite pero no modifica los contadores (cada uno lleva ya su propio objetivo).
      operationId: validationStats
      externalDocs:
        url: https://docs.veriko.mx/how-to/inspect-validations
        description: Browse and manage validation records
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum:
              - direct
              - ocr
          example: direct
          description: 'Filtro — Modalidad: `direct` para validación manual; `ocr` para validación a partir de una imagen.'
          x-translations:
            en:
              description: 'Mode: `direct` for manual validation; `ocr` for image-based validation.'
        - name: from
          in: query
          schema:
            type: string
            format: date
          example: '2025-01-01'
          description: Filtro — Fecha inicial inclusiva, aplicada sobre la creación de la validación.
          x-translations:
            en:
              description: Inclusive start date, applied to the validation creation date.
        - name: to
          in: query
          schema:
            type: string
            format: date
          example: '2025-03-31'
          description: Filtro — Fecha final inclusiva, aplicada sobre la creación de la validación.
          x-translations:
            en:
              description: Inclusive end date, applied to the validation creation date.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          example: MXBA
          description: Filtro — Texto buscado, sin distinguir mayúsculas y minúsculas, en los datos enviados, normalizados y devueltos por Banxico. `%` y `_` se tratan como caracteres literales.
          x-translations:
            en:
              description: Case-insensitive text search over the submitted, normalized, and Banxico response data. `%` and `_` are treated as literal characters.
        - name: playground
          in: query
          schema:
            type: string
            enum:
              - '1'
          example: '1'
          description: Filtro — Muestra solo las validaciones del banco de pruebas (Playground). Si se envía, el único valor admitido es `1`; cualquier otro devuelve un estado HTTP `422`.
          x-translations:
            en:
              description: Keeps only playground validations. The only accepted value is `1`; any other value returns HTTP status `422`.
        - name: with_deleted
          in: query
          schema:
            type: string
            enum:
              - '0'
              - '1'
          example: '0'
          description: 'Filtro — Alcance de los registros retirados: omitido incluye activos y retirados; `0` deja solo activos y `1` solo retirados.'
          x-translations:
            en:
              description: 'Scope for withdrawn records: omitted includes active and withdrawn records; `0` keeps active records only and `1`, withdrawn records only.'
        - name: batch_id
          in: query
          schema:
            type: integer
            minimum: 1
          example: 42
          description: Filtro — Identificador del trabajo de importación que generó las validaciones.
          x-translations:
            en:
              description: Identifier of the import job that generated the validations.
        - name: bank
          in: query
          schema:
            type: string
            pattern: ^\d{1,5}$
          example: '012'
          description: Filtro — Código SPEI del banco emisor o receptor. (1-5 dígitos. Más o menos dígitos provoca que el campo sea ignorado).
          x-translations:
            en:
              description: SPEI code of the sending or receiving bank in the original request. Values outside 1 to 5 digits are ignored.
        - name: amount_min
          in: query
          schema:
            type: number
            format: float
          example: 1000.5
          description: Filtro — Importe mínimo inclusivo de las validaciones contadas.
          x-translations:
            en:
              description: Inclusive minimum amount for the counted validations.
        - name: amount_max
          in: query
          schema:
            type: number
            format: float
          example: 50000
          description: Filtro — Importe máximo inclusivo de las validaciones contadas.
          x-translations:
            en:
              description: Inclusive maximum amount for the counted validations.
        - name: status
          in: query
          schema:
            type: string
          example: valid
          description: Filtro — Se acepta para mantener paridad con `GET /v1/validations`, pero no modifica ningún contador.
          x-translations:
            en:
              description: Accepted for parity with `GET /v1/validations`, but it does not change any counter.
        - name: retry_state
          in: query
          schema:
            type: string
            enum:
              - pending
              - resolved
              - exhausted
              - cancelled
          example: pending
          description: 'Filtro — Estado del ciclo de reintentos: `pending`, `resolved`, `exhausted` o `cancelled`. Otro valor devuelve un estado HTTP `422` con `invalid_filter`.'
          x-translations:
            en:
              description: 'Retry cycle state: `pending`, `resolved`, `exhausted`, or `cancelled`. Any other value returns HTTP status `422` with `invalid_filter`.'
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X GET 'https://api.veriko.mx/v1/validations/stats' \
              -H 'Authorization: Bearer veriko_••••'
      responses:
        '200':
          description: Estadísticas agregadas de las validaciones de la cuenta.
          x-translations:
            en:
              description: Aggregated validation statistics for the account.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ValidationStats'
              examples:
                with_activity:
                  summary: Estadísticas de usuario activo
                  x-translations:
                    en:
                      summary: Active user statistics
                  value:
                    data:
                      type: validation_stats
                      attributes:
                        total: 47
                        valid: 35
                        not_found: 5
                        cep_unavailable: 2
                        returned: 0
                        error: 1
                        pending: 1
                        deleted: 2
                        other: 3
                        by_type:
                          direct: 30
                          ocr: 17
                        by_status:
                          queued: 2
                          processing: 1
                          valid: 35
                          not_found: 5
                          cep_unavailable: 2
                          invalid: 1
                          returned: 0
                          failed: 0
                          error: 1
                    meta:
                      version: 1.50.1
                      request_id: f4a5b6c7d8e9
                new_user:
                  summary: Estadísticas de usuario nuevo — todos en cero
                  x-translations:
                    en:
                      summary: New user statistics — all zeros
                  value:
                    data:
                      type: validation_stats
                      attributes:
                        total: 0
                        valid: 0
                        not_found: 0
                        cep_unavailable: 0
                        returned: 0
                        error: 0
                        pending: 0
                        deleted: 0
                        other: 0
                        by_type:
                          direct: 0
                          ocr: 0
                        by_status:
                          queued: 0
                          processing: 0
                          valid: 0
                          not_found: 0
                          cep_unavailable: 0
                          invalid: 0
                          returned: 0
                          failed: 0
                          error: 0
                    meta:
                      version: 1.50.1
                      request_id: a5b6c7d8e9f0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Un filtro trae un valor fuera de su lista admitida. El código es `invalid_filter` y el `detail` nombra el parámetro.
          x-translations:
            en:
              description: A filter carries a value outside its allowed list. The code is `invalid_filter` and the `detail` names the parameter.
              examples:
                invalid_filter:
                  value:
                    errors:
                      - detail: The `retry_state` filter has an unsupported value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_filter:
                  summary: Filtro fuera de la lista admitida
                  x-translations:
                    en:
                      summary: Filter outside the allowed list
                  value:
                    errors:
                      - status: '422'
                        code: invalid_filter
                        detail: El filtro `retry_state` trae un valor no admitido.
                    meta:
                      version: 1.58.0
                      api_version: v1
                      request_id: c3d4e5f6a1b2
      x-translations:
        en:
          summary: Get validation statistics for the account
          description: |-
            Returns aggregate counters for the account's validations:

            - The top-level counters —`valid`, `not_found`, `cep_unavailable`, `returned`, `error` and `pending`— group by `banxico_status`.
            - `by_status` groups by lifecycle status.
            - `by_type` separates the `direct` and `ocr` modes.

            It accepts the same filters as `GET /v1/validations`, with one exception: `status` is admitted but does not change the counters, because each one already carries its own target.
      security:
        - ApiKeyAuth: []
  /validations/export:
    get:
      x-related:
        - DELETE /v1/validations/{id}
        - GET /v1/validations
        - GET /v1/validations/{id}
        - GET /v1/validations/{id}/cep
      tags:
        - Validations
      summary: Exportar validaciones
      description: |-
        Descarga en un archivo las validaciones que cumplen los filtros.

        {% concept slug="exports-and-formats" %}El formato se elige{% /concept %} con `format`: `csv` de forma predeterminada, o `xlsx`.

        La exportación admite hasta 100 000 filas, y `limit` permite reducir ese máximo.
      operationId: exportValidations
      externalDocs:
        url: https://docs.veriko.mx/how-to/inspect-validations
        description: Browse and manage validation records
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum:
              - csv
              - xlsx
            default: csv
          example: csv
          description: 'Formato del archivo: `csv` o `xlsx`.'
          x-translations:
            en:
              description: 'File format: `csv` (default) or `xlsx`.'
        - name: status
          in: query
          schema:
            type: string
          example: valid
          description: |-

            Filtro — Estado del ciclo de vida. Acepta un valor o una lista separada por comas: `queued`, `processing`, `valid`, `not_found`, `cep_unavailable`, `invalid`, `returned`, `failed` o `error`. Los valores no admitidos se ignoran.
          x-translations:
            en:
              description: 'Lifecycle state. Accepts one value or a comma-separated list: `queued`, `processing`, `valid`, `not_found`, `cep_unavailable`, `invalid`, `returned`, `failed`, or `error`. Unsupported values are ignored.'
        - name: type
          in: query
          schema:
            type: string
            enum:
              - direct
              - ocr
          example: direct
          description: |-

            Filtro — Modalidad: `direct` para validación manual; `ocr` para validación a partir de una imagen.
          x-translations:
            en:
              description: 'Mode: `direct` for manual validation; `ocr` for image-based validation.'
        - name: from
          in: query
          schema:
            type: string
            format: date
          example: '2025-01-01'
          description: Filtro — Fecha inicial inclusiva, aplicada sobre la creación de la validación.
          x-translations:
            en:
              description: Inclusive start date, applied to the validation creation date.
        - name: to
          in: query
          schema:
            type: string
            format: date
          example: '2025-03-31'
          description: Filtro — Fecha final inclusiva, aplicada sobre la creación de la validación.
          x-translations:
            en:
              description: Inclusive end date, applied to the validation creation date.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          example: MXBA20250315001234
          description: |-

            Filtro — Texto buscado, sin distinguir mayúsculas y minúsculas, en los datos enviados, normalizados y devueltos por Banxico. `%` y `_` se tratan como caracteres literales.
          x-translations:
            en:
              description: Case-insensitive text search over the submitted, normalized, and Banxico response data. `%` and `_` are treated as literal characters.
        - name: playground
          in: query
          schema:
            type: string
            enum:
              - '1'
          example: '1'
          description: Filtro — Muestra solo las validaciones del banco de pruebas (Playground). Si se envía, el único valor admitido es `1`; cualquier otro devuelve un estado HTTP `422`.
          x-translations:
            en:
              description: Keeps only playground validations. The only accepted value is `1`; any other value returns HTTP status `422`.
        - name: with_deleted
          in: query
          schema:
            type: string
            enum:
              - '0'
              - '1'
          example: '0'
          description: |-

            Filtro — Alcance de los registros retirados: omitido incluye activos y retirados; `0` deja solo activos y `1` solo retirados.
          x-translations:
            en:
              description: 'Scope for withdrawn records: omitted includes active and withdrawn records; `0` keeps active records only and `1`, withdrawn records only.'
        - name: batch_id
          in: query
          schema:
            type: integer
            minimum: 1
          example: 42
          description: Filtro — Identificador del trabajo de importación que generó las validaciones.
          x-translations:
            en:
              description: Identifier of the import job that generated the validations.
        - name: retry_state
          in: query
          schema:
            type: string
            enum:
              - pending
              - resolved
              - exhausted
              - cancelled
          example: pending
          description: |-

            Filtro — Estado del ciclo de reintentos: `pending`, `resolved`, `exhausted` o `cancelled`. Cualquier otro valor devuelve un estado HTTP `422` con `invalid_filter`.
          x-translations:
            en:
              description: 'Retry cycle state: `pending`, `resolved`, `exhausted`, or `cancelled`. Any other value returns HTTP status `422` with `invalid_filter`.'
        - name: bank
          in: query
          schema:
            type: string
            pattern: ^\d{1,5}$
          example: '012'
          description: Filtro — Código SPEI del banco emisor o receptor. (1-5 dígitos. Más o menos dígitos provoca que el campo sea ignorado).
          x-translations:
            en:
              description: SPEI code of the sending or receiving bank in the original request. Values outside 1 to 5 digits are ignored.
        - name: amount_min
          in: query
          schema:
            type: number
            format: float
          example: 1000.5
          description: Filtro — Importe mínimo inclusivo. Se aplica de forma independiente de `amount_max`.
          x-translations:
            en:
              description: Inclusive minimum amount. Applied independently of `amount_max`.
        - name: amount_max
          in: query
          schema:
            type: number
            format: float
          example: 50000
          description: Filtro — Importe máximo inclusivo. Se aplica de forma independiente de `amount_min`.
          x-translations:
            en:
              description: Inclusive maximum amount. Applied independently of `amount_min`.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100000
          example: 500
          description: Filtro — Máximo de filas solicitado. Solo reduce el límite general de `100000`; los valores fuera del intervalo conservan el límite general.
          x-translations:
            en:
              description: Requested row maximum. It only lowers the `100000`-row general limit; out-of-range values keep the general limit.
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X GET 'https://api.veriko.mx/v1/validations/export' \
              -H 'Authorization: Bearer veriko_••••'
      responses:
        '200':
          description: Archivo CSV o XLSX según `format`. El nombre del archivo es `<slug>_validaciones_<YYYY-MM-DD>.<ext>`, donde `<slug>` identifica al despliegue.
          x-translations:
            en:
              description: CSV or XLSX file, based on `format`. The filename is `<slug>_validaciones_<YYYY-MM-DD>.<ext>`, where `<slug>` identifies the deployment.
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="<slug>_validaciones_2025-01-15.csv"
              description: Cabecera de descarga con el nombre canónico del archivo.
              x-translations:
                en:
                  description: Download header with the canonical filename.
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Un filtro trae un valor fuera de su lista admitida. El código es `invalid_filter` y el `detail` nombra el parámetro.
          x-translations:
            en:
              description: A filter carries a value outside its allowed list. The code is `invalid_filter` and the `detail` names the parameter.
              examples:
                invalid_filter:
                  value:
                    errors:
                      - detail: The `retry_state` filter has an unsupported value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_filter:
                  summary: Filtro fuera de la lista admitida
                  x-translations:
                    en:
                      summary: Filter outside the allowed list
                  value:
                    errors:
                      - status: '422'
                        code: invalid_filter
                        detail: El filtro `retry_state` trae un valor no admitido.
                    meta:
                      version: 1.58.0
                      api_version: v1
                      request_id: d4e5f6a1b2c3
      x-translations:
        en:
          summary: Export validations
          description: |-
            Downloads to a file the validations matching the filters.

            {% concept slug="exports-and-formats" %}The format is chosen{% /concept %} with `format`: `csv` by default, or `xlsx`.

            The export admits up to 100,000 rows, and `limit` lowers that maximum.
      security:
        - ApiKeyAuth: []
  /validations/{id}:
    get:
      tags:
        - Validations
      summary: Obtener una validación
      description: |-
        Devuelve el registro completo de una validación, con su veredicto, los datos normalizados y el estado de los reintentos.

        El recorrido desde la solicitud hasta el veredicto está descrito en {% concept slug="validation-flow" %}el flujo de validación{% /concept %}.

        {% callout type="info" %}
        **Validaciones en proceso:**\
        Para una validación, una respuesta con estado HTTP `200` contiene la cabecera `Retry-After` y el campo `meta.next_poll_after_seconds` en el cuerpo, que indican cuándo volver a consultar si el estado de la validación es `queued` (por procesar) o `processing` (procesando).\
        \
        Si el `ETag` enviado en `If-None-Match` sigue vigente, responde con un estado HTTP `304` sin cuerpo, como describe {% concept slug="conditional-caching" %}la caché condicional{% /concept %}.

        {% /callout %}
      operationId: getValidation
      externalDocs:
        url: https://docs.veriko.mx/how-to/inspect-validations
        description: Browse and manage validation records
      parameters:
        - $ref: '#/components/parameters/ValidationId'
        - $ref: '#/components/parameters/IfNoneMatchHeader'
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X GET 'https://api.veriko.mx/v1/validations/{id}' \
              -H 'Authorization: Bearer veriko_••••'
      responses:
        '200':
          description: Detalle de la validación. En estados pre-terminales (`queued`, `processing`) incluye la cabecera `Retry-After` y el campo `meta.next_poll_after_seconds` del cuerpo.
          x-translations:
            en:
              description: Full validation details. In pre-terminal states (`queued`, `processing`) includes `Retry-After` and `meta.next_poll_after_seconds`.
          headers:
            ETag:
              schema:
                type: string
                example: W/"3-processing"
              description: ETag débil que cambia en cada transición de estado. Sigue el formato `W/"{etag_version}-{status}"` y puede incluirse en `If-None-Match` para recibir un estado HTTP `304` si nada ha cambiado.
              x-translations:
                en:
                  description: Weak ETag that changes on each state transition. It follows the `W/"{etag_version}-{status}"` format and can be included in `If-None-Match` to receive HTTP status `304` when nothing has changed.
            Retry-After:
              schema:
                type: integer
              description: Segundos de espera antes de la siguiente petición. Solo está presente en `queued` y `processing`.
              x-translations:
                en:
                  description: Seconds to wait before the next poll. Only present in `queued` and `processing` states.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Validation'
              examples:
                valid_with_cep:
                  summary: Validación confirmada con certificado CEP disponible
                  value:
                    data:
                      id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                      type: validation
                      attributes:
                        validation_type: direct
                        is_playground: false
                        status: valid
                        banxico_status: valid
                        processing_time_ms: 1320
                        created_at: '2025-03-15T14:22:10Z'
                        completed_at: '2025-03-15T14:22:11Z'
                        request_data:
                          fecha: '2025-03-15'
                          monto: 15000.5
                          clave_rastreo: MXBA20250315001234
                          cuenta_beneficiaria: '012180004412345678'
                        retry_state:
                          enabled: false
                          max_retries: null
                          interval_seconds: null
                          outcomes: null
                          attempts_completed: 0
                          next_attempt_at: null
                          resolved_at: null
                          exhausted_at: null
                          cancelled_at: null
                          terminal_state: null
                      links:
                        self: /v1/validations/f47ac10b-58cc-4372-a567-0e02b2c3d479
                        cep_xml: /v1/validations/f47ac10b-58cc-4372-a567-0e02b2c3d479/cep?format=xml
                        cep_pdf: /v1/validations/f47ac10b-58cc-4372-a567-0e02b2c3d479/cep?format=pdf
                    meta:
                      version: 1.51.0
                      request_id: b3c4d5e6f7a8
                queued_async:
                  summary: Validación asíncrona en cola — consulta periódica activa
                  x-translations:
                    en:
                      summary: Async validation queued — polling active
                  value:
                    data:
                      id: c3d4e5f6-a7b8-9012-cdef-123456789abc
                      type: validation
                      attributes:
                        validation_type: direct
                        is_playground: false
                        status: queued
                        enqueued_at: '2025-03-17T08:00:01Z'
                        expires_at: '2025-03-17T09:00:01Z'
                        etag_version: 0
                    meta:
                      version: 1.51.0
                      request_id: a9b0c1d2e3f4
                      next_poll_after_seconds: 2
                not_found:
                  summary: Transferencia no encontrada en el CEP
                  value:
                    data:
                      id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      type: validation
                      attributes:
                        validation_type: direct
                        is_playground: false
                        status: not_found
                        banxico_status: not_found
                        created_at: '2025-03-16T09:10:00Z'
                        completed_at: '2025-03-16T09:10:01Z'
                    meta:
                      version: 1.51.0
                      request_id: c4d5e6f7a8b9
        '304':
          $ref: '#/components/responses/ValidationNotModified'
          headers:
            ETag:
              schema:
                type: string
                example: W/"3-processing"
              description: '`ETag` actual; idéntico al `If-None-Match` enviado.'
              x-translations:
                en:
                  description: Current `ETag`; matches the `If-None-Match` sent.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Validación no encontrada o ajena a la cuenta de usuario (`not_found`).
          x-translations:
            en:
              description: Validation not found or not owned by the account (`not_found`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: UUID inválido en la ruta (`invalid_uuid`).
          x-translations:
            en:
              description: Invalid UUID in path (`invalid_uuid`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-related:
        - GET /v1/validations/{id}/cep
        - GET /v1/validations/{id}/image
        - PUT /v1/validations/{id}/retry-policy
        - GET /v1/validations/{id}/retry-attempts
        - GET /v1/validations
      x-translations:
        en:
          summary: Get a single validation
          description: |-
            Returns the complete record of a validation, with its verdict, the normalized data and the state of its retries.

            The path from request to verdict is described in {% concept slug="validation-flow" %}the validation flow{% /concept %}.

            {% callout type="info" %}
            **While the validation has not finished:**\
            In a response with HTTP status `200` for a validation in `queued` or `processing`, `Retry-After` and `meta.next_poll_after_seconds` say when to poll again.\
            If the `ETag` sent in `If-None-Match` is still current, it responds with an HTTP status `304` and no body, as {% concept slug="conditional-caching" %}conditional caching{% /concept %} describes.

            {% /callout %}
      security:
        - ApiKeyAuth: []
    delete:
      x-related:
        - GET /v1/validations/{id}
        - GET /v1/validations/{id}/cep
        - GET /v1/validations/{id}/image
        - GET /v1/validations/{id}/retry-attempts
        - POST /v1/validations/{id}/cancel-retries
        - POST /v1/validations/{id}/cep/send-telegram
      tags:
        - Validations
      summary: Retirar una validación del historial
      description: |-
        Retira una validación del historial de validaciones del usuario autenticado.

        La eliminación es lógica, no física. Lo que quiere decir que puede seguir apareciendo en las listas como `GET /v1/validations` si se usa el filtro `with_deleted` u otros.
      operationId: deleteValidation
      externalDocs:
        url: https://docs.veriko.mx/how-to/inspect-validations
        description: Browse and manage validation records
      parameters:
        - $ref: '#/components/parameters/ValidationId'
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X DELETE 'https://api.veriko.mx/v1/validations/{id}' \
              -H 'Authorization: Bearer veriko_••••' \
              -H 'Content-Type: application/json'
      responses:
        '204':
          description: Validación retirada. Sin cuerpo.
          x-translations:
            en:
              description: Validation withdrawn. Empty body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Validación no encontrada o ajena a la cuenta de usuario.
          x-translations:
            en:
              description: Validation not found or not owned by the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: UUID inválido en la ruta (`invalid_uuid`).
          x-translations:
            en:
              description: Invalid UUID in path (`invalid_uuid`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-translations:
        en:
          summary: Withdraw a validation
          description: |-
            Withdraws a validation from the history through a soft delete.

            The record keeps its result and can reappear in `GET /v1/validations` with the `with_deleted` filter. Only the owning account can withdraw it.
      security:
        - ApiKeyAuth: []
  /validations/{id}/cep:
    get:
      x-related:
        - POST /v1/validations/{id}/cep/send-telegram
        - DELETE /v1/validations/{id}
        - GET /v1/validations/{id}
        - GET /v1/validations/{id}/image
        - GET /v1/validations/{id}/retry-attempts
        - POST /v1/validations/{id}/cancel-retries
      tags:
        - Validations
      summary: Descargar el CEP oficial
      description: |-
        Descarga el {% concept slug="cep-concept" %}Comprobante Electrónico de Pago (CEP){% /concept %} emitido por Banxico de una validación con veredicto `valid`.

        El formato predeterminado es `xml`; con `format=pdf` se solicita el documento en PDF.

        Si el comprobante, o el formato pedido, no está disponible, responde con un estado HTTP `404` (con `cep_not_available` en el cuerpo).
      operationId: downloadCep
      externalDocs:
        url: https://docs.veriko.mx/how-to/inspect-validations
        description: Browse and manage validation records
      parameters:
        - $ref: '#/components/parameters/ValidationId'
        - name: format
          in: query
          schema:
            type: string
            enum:
              - xml
              - pdf
            default: xml
          example: xml
          description: 'Formato del certificado: `xml` o `pdf`.'
          x-translations:
            en:
              description: 'Certificate format: `xml` (default) or `pdf`.'
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X GET 'https://api.veriko.mx/v1/validations/{id}/cep' \
              -H 'Authorization: Bearer veriko_••••'
      responses:
        '200':
          description: Archivo del certificado CEP. El `Content-Type` es `application/xml` o `application/pdf` según el formato solicitado.
          x-translations:
            en:
              description: CEP certificate file. `Content-Type` is `application/xml` or `application/pdf` based on the requested format.
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="CEP-f47ac10b-58cc-4372-a567-0e02b2c3d479.xml"
              description: Nombre de descarga con el formato `CEP-{validation_id}.{ext}`.
              x-translations:
                en:
                  description: Download name in the `CEP-{validation_id}.{ext}` format.
          content:
            application/xml:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Formato fuera de la lista admitida (`invalid_export_format`).
          x-translations:
            en:
              description: Format outside the allowlist (`invalid_export_format`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Validación no encontrada (`not_found`) o el CEP no está disponible para esta validación (`cep_not_available`). Este último código se devuelve cuando `banxico_status` no es `valid` o falta el archivo solicitado.
          x-translations:
            en:
              description: Validation not found (`not_found`) or the CEP is not available for this validation (`cep_not_available`). The latter code is returned when `banxico_status` is not `valid` or the requested file is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: UUID inválido en la ruta (`invalid_uuid`).
          x-translations:
            en:
              description: Invalid UUID in path (`invalid_uuid`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-translations:
        en:
          summary: Download the official CEP
          description: |-
            Downloads {% concept slug="cep-concept" %}the Electronic Payment Receipt (CEP) issued by Banxico{% /concept %} for a validation with a `valid` verdict.

            The default format is `xml`; `format=pdf` requests the document as a PDF.

            If the receipt, or the requested format, is not available, it responds with an HTTP status `404` (with `cep_not_available` in the body).
      security:
        - ApiKeyAuth: []
  /validations/{id}/cep/send-telegram:
    post:
      x-related:
        - GET /v1/validations/{id}/cep
        - DELETE /v1/validations/{id}
        - GET /v1/validations/{id}
        - GET /v1/validations/{id}/image
        - GET /v1/validations/{id}/retry-attempts
        - POST /v1/validations/{id}/cancel-retries
      tags:
        - Validations
      summary: Enviar el comprobante al chat de Telegram vinculado
      description: |-
        Inicia el envío del CEP en PDF al chat de Telegram vinculado con la cuenta de usuario propietaria.

        Un estado HTTP `202` (con `queued: true` en el cuerpo) confirma que la entrega quedó pendiente, no que se completó.

        Requiere un comprobante disponible y una cuenta de Telegram vinculada:

        - Sin el documento, responde con un estado HTTP `409` (con `cep_not_available` en el cuerpo).
        - Sin la vinculación, responde con un estado HTTP `409` (con `telegram_not_linked` en el cuerpo).
      operationId: sendCepToTelegram
      externalDocs:
        url: https://docs.veriko.mx/how-to/inspect-validations
        description: Browse and manage validation records
      parameters:
        - $ref: '#/components/parameters/ValidationId'
      x-codeSamples:
        - lang: curl
          label: Shell
          source: |-
            curl -X POST 'https://api.veriko.mx/v1/validations/{id}/cep/send-telegram' \
              -H 'Authorization: Bearer veriko_••••' \
              -H 'Content-Type: application/json'
      responses:
        '202':
          description: La entrega del CEP fue aceptada y quedó pendiente de envío al chat de Telegram vinculado.
          x-translations:
            en:
              description: CEP delivery was accepted and is pending delivery to the linked Telegram chat.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        allOf:
                          - $ref: '#/components/schemas/JsonApiResourceBase'
                          - type: object
                            properties:
                              type:
                                type: string
                                example: validation_cep_telegram
                              id:
                                type: string
                                format: uuid
                                example: f47ac10b-58cc-4372-a567-0e02b2c3d479
                              attributes:
                                type: object
                                properties:
                                  queued:
                                    type: boolean
                                    example: true
              examples:
                queued:
                  summary: Entrega del CEP encolada
                  value:
                    data:
                      type: validation_cep_telegram
                      id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                      attributes:
                        queued: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Validación no encontrada o ajena a la cuenta de usuario (`not_found`).
          x-translations:
            en:
              description: Validation not found or not owned by the account (`not_found`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: El CEP no está disponible (`cep_not_available`) o la cuenta de usuario no tiene un chat de Telegram vinculado (`telegram_not_linked`).
          x-translations:
            en:
              description: The CEP is unavailable (`cep_not_available`) or the account has no linked Telegram chat (`telegram_not_linked`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: UUID inválido en la ruta (`invalid_uuid`).
          x-translations:
            en:
              description: Invalid UUID in path (`invalid_uuid`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: No se pudo iniciar la entrega (`dispatch_failed`).
          x-translations:
            en:
              description: Delivery could not be started (`dispatch_failed`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-translations:
        en:
          summary: Send the CEP to Telegram
          description: |-
[...]
